<div class="col-sm-2">
  <div class="form-group-isin">
    <label class="control-label" for="uniqueCodeType">Unique Code Type:</label>
  </div>
</div>
<div class="col-sm-4">
  <div class="input-group" [formGroup]="parentFormGroup">
    <select name="uniqueCodeType" 
            id="uniqueCodeType" 
            class="form-control" 
            formControlName="uniqueCodeType"
            [(ngModel)]="uniqueCodeType">
      <option *ngFor="let result of results"
        [value]="result.code">
        {{result.type}}
      </option>
    </select>
  </div>
</div>
