<div class="col-sm-2">
  <div class="form-group-isin">
    <label class="control-label" for="companyCode">Company Code:</label>
  </div>
</div>
<div class="col-sm-10">
  <div class="col-md-3">
    <div class="input-group" [formGroup]="parentFormGroup">
      <input type="text" id="companyCode" 
            class="form-control" maxlength="4" 
            formControlName="companyCode"
            (blur)="lookupCompanyByCodeOnBlur()"
            [(ngModel)] = "companyCode"
            [disabled]="isDisabled" >
      <span class="input-group-btn">
        <button class="btn m-b-xs w-xxs btn-isin" type="button" id="btnCompanyCodeLookup"
          (click)="clearSearchResultData(); companyModal.show();" [disabled]="isDisabled">
          <i class="icon-magnifier"></i>
        </button>
      </span>
    </div>
  </div>
  <div class="col-md-7">
    <input id="companyCodeDesc" class="form-control" type="text" [(ngModel)]="companyCodeDesc" disabled>
  </div>

</div>

<div bsModal #companyModal="bs-modal" class="modal fade" id="company-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="companyModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Company Code Help Search</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div class="col-sm-2">
            <div class="form-group-isin">
              <label class="control-label" for="securityType">Company Name:</label>
            </div>
          </div>
          <div class="col-sm-10">
            <input type="text" id="companyName" class="form-control" [(ngModel)]="companyName" (keyup.enter)="lookupCompanyByModal()" >            
          </div>
        </div>
        <span>
          <button class="btn m-b-xs w-xs btn-isin btn-rounded font-bold" type="button" id="btnCompanyCodeSearch"
            (click)="lookupCompanyByModal()" >Search</button>
        </span>

        <isin-search-result-table
          [data]='results' 
          [columns]='columns' 
          (selected)='handleEvent($event); companyModal.hide();'>
        </isin-search-result-table>

      </div>
    </div>
  </div>
</div>