<form [formGroup]="fg" (ngSubmit)="submitFg(fg)" >
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      Test
    </div>

    <div class="panel-body">

      <div class="row">
        <isin-security-symbol #securitySymbolComp [parentFormGroup]="fg"></isin-security-symbol>
      </div>
      <div class="row">
        <isin-security-type #securityTypeComp [parentFormGroup]="fg"></isin-security-type>
      </div>
      <div class="row">
        <isin-market #marketComp [parentFormGroup]="fg"></isin-market>
      </div>      
      <div class="row">
        <isin-company-code #companyCodeComp [parentFormGroup]="fg"></isin-company-code>
      </div>
      <div class="row">
        <isin-select-code #selectCodeComp [parentFormGroup]="fg"></isin-select-code>
      </div>
      <div class="row">        
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="issuerNameThai">Issuer Name Thai:</label>
          </div>
        </div>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="issuerNameThai" formControlName="issuerNameThai" name="issuerNameThai" [(ngModel)]="issuerNameThai" maxlength="150">
        </div>
      </div>

    </div>

  </div>

</div>

<!-- Button -->
<div class="wrapper-md-thin">
  <span>
    <button class="btn m-b-xs w-xs btn-isin btn-rounded font-bold" type="submit">Submit</button>
  </span> 
  <span>
    <input class="btn m-b-xs w-xs btn-isin btn-rounded font-bold" type="button" id="btnSubmit" value="Submit" (click)="submitFg(fg.value)">
  </span>
  <span class="padder">
    <input class="btn m-b-xs w-xs btn-isin btn-rounded font-bold" type="button" id="btnReset" value="Reset" (click)="reset()">
  </span>
</div>
<!-- /Button -->
</form>