<div class="wrapper-sm">
  <div class="panel panel-default">
    
    <div class="panel-heading font-bold">
        CFI Information
    </div>

    <div class="panel-body" [formGroup]="parentFormGroup">

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="cfiCategory"><strong>CFI Category:</strong></label>
          </div>
        </div>
        <div class="col-sm-4">
          <select id="cfiCategory" name="cfiCategory" class="form-control" 
                  formControlName="cfiCategory"
                  [(ngModel)]="cfiCategory">
            <option value=""></option>
            <option *ngFor="let result of results_category"
              [value]="result.cfiValue">
              {{result.cfiDesc}}
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="cfiGroup"><strong>CFI Group:</strong></label>
          </div>
        </div>
        <div class="col-sm-4">
          <select id="cfiGroup" name="cfiGroup" class="form-control" 
                  formControlName="cfiGroup"
                  [(ngModel)]="cfiGroup"
            (change)="initCFIDigits()">
            <option value=""></option>
            <option *ngFor="let result of results_group"
              [value]="result.cfiValue">
              {{result.cfiDesc}}
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="cfiAttrDigit3"><strong>CFI 1<sup>st</sup> Attribute:</strong></label>
          </div>
        </div>
        <div class="col-sm-4">
          <select id="cfiAttrDigit3" name="cfiAttrDigit3" class="form-control" 
                  formControlName="cfiAttrDigit3"
                  [(ngModel)]="cfiAttrDigit3">
            <option value=""></option>
            <option *ngFor="let result of results_digit_3"
              [value]="result.cfiValue">
              {{result.cfiDesc}}
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="cfiAttrDigit4"><strong>CFI 2<sup>nd</sup> Attribute:</strong></label>
          </div>
        </div>
        <div class="col-sm-4">
          <select id="cfiAttrDigit4" name="cfiAttrDigit4" class="form-control" 
                  formControlName="cfiAttrDigit4"
                  [(ngModel)]="cfiAttrDigit4">
            <option value=""></option>
            <option *ngFor="let result of results_digit_4"
              [value]="result.cfiValue">
              {{result.cfiDesc}}
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="cfiAttrDigit5"><strong>CFI 3<sup>rd</sup> Attribute:</strong></label>
          </div>
        </div>
        <div class="col-sm-4">
          <select id="cfiAttrDigit5" name="cfiAttrDigit5" class="form-control" 
                  formControlName="cfiAttrDigit5"
                  [(ngModel)]="cfiAttrDigit5">
            <option value=""></option>
            <option *ngFor="let result of results_digit_5"
              [value]="result.cfiValue">
              {{result.cfiDesc}}
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="cfiAttrDigit6"><strong>CFI 4<sup>th</sup> Attribute:</strong></label>
          </div>
        </div>
        <div class="col-sm-4">
          <select id="cfiAttrDigit6" name="cfiAttrDigit6" class="form-control" 
                  formControlName="cfiAttrDigit6"
                  [(ngModel)]="cfiAttrDigit6">
            <option value=""></option>
            <option *ngFor="let result of results_digit_6"
              [value]="result.cfiValue">
              {{result.cfiDesc}}
            </option>
          </select>
        </div>
      </div>

    </div>

  </div>
</div>