<div class="form-inline">
  <div class="col-sm-2">
    <div class="form-group-isin">
      <label class="control-label" for="input-id-1">Select Code:</label>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="form-group-isin" [formGroup]="parentFormGroup">
      <div class="radio">
        <label class="i-checks">
          <input type="radio" formControlName="selectCode" name="selectCode" id="selectAllCode" value="A" [(ngModel)]="selectCode" checked="">
          <i></i>
          All
        </label>
      </div>
      <div class="radio padder">
        <label class="i-checks">
          <input type="radio" formControlName="selectCode" name="selectCode" id="selectISINCode" [(ngModel)]="selectCode" value="I">
          <i></i>
          ISIN Code
        </label>
      </div>
      <div class="radio padder">
        <label class="i-checks">
          <input type="radio" formControlName="selectCode" name="selectCode" id="selectCFICode" [(ngModel)]="selectCode" value="C">
          <i></i>
          CFI Code
        </label>
      </div>
    </div>
  </div>
</div>