<form [formGroup]="fg">
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading font-bold">
        Search Criteria
      </div>
      <div class="panel-body">

        <div class="row">
          <isin-security-symbol #securitySymbolComp [parentFormGroup]="fg"></isin-security-symbol>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <div class="form-group-isin"><label class="control-label">ISIN Code:</label></div>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" name="isinCode" id="isinCode">
          </div>
        </div>
        
        <div class="row">
          <isin-security-type #securityTypeComp [parentFormGroup]="fg"></isin-security-type>
        </div>

        <div class="row">
          <isin-company-code #companyCodeComp [parentFormGroup]="fg"></isin-company-code>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <div class="form-group-isin"><label class="control-label">Transaction Date Form:</label></div>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="transactionDateFrom" name="transactionDateFrom">
          </div>
          <div class="col-sm-1">
            <div class="form-group-isin text-right"><label class="control-label">To:</label></div>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="transactionDateTo" name="transactionDateTo">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <div class="form-group-isin"><label class="control-label">Issue Date From:</label></div>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="issueDateFrom" name="issueDateFrom">
          </div>
          <div class="col-sm-1">
            <div class="form-group-isin text-right"><label class="control-label">To:</label></div>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="issueDateTo" name="issueDateTo">
          </div>
        </div>
        
      </div>

    </div>
  </div>

<div class="wrapper-md-thin">
  <span>
    <input class="btn m-b-xs w-xs btn-isin btn-rounded font-bold" type="button" id="btnSubmit" value="Submit">
  </span>
  <span class="padder">
    <input class="btn m-b-xs w-xs btn-isin btn-rounded font-bold" type="button" id="btnReset" value="Reset">
  </span>
</div>

<div class="wrapper-md" id="tblResultInsinSearch">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">Search Results</div>

    <isin-search-result-table #searchResultTable></isin-search-result-table>
  </div>
</div>

</form>
