<div bsModal #messageModal="bs-modal" id="messageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="btnCloseModalMessage" class="close" (click)="messageModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body" #modalMessageBody>
          
        </div>
        <br/>
        <span>
          <button class="btn m-b-xs w-xs btn-isin btn-rounded font-bold" type="button" id="btnModalOK"
            (click)="messageModal.hide()" >OK</button>
        </span>

      </div>
    </div>
  </div>
</div>