<!-- breadcrumbs -->
<div class="bg-light lter b-b wrapper ng-scope">
  <span class="m-n font-thick h4">Entry / Update</span>
  <span class="m-n font-thick h5 system-time">23/12/2016 - 15:30:24</span>
</div>