<div class="col-sm-2">
  <div class="form-group-isin">
    <label class="control-label" for="futureOptionType">Future/Option Type:</label>
  </div>
</div>
<div class="col-sm-4">
  <div class="input-group" [formGroup]="parentFormGroup">
    <select name="futureOptionType" id="futureOptionType" class="form-control" 
            formControlName="futureOptionType"
            [(ngModel)]="futureOptionType">
      <option *ngFor="let result of results"
        [value]="result.code">
        {{result.type}}
      </option>
    </select>
  </div>
</div>