<div class="wrapper-sm">
  <div class="panel panel-default">
    
    <div class="panel-heading font-bold">
        CFI Code
    </div>

    <div class="panel-body">

      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 text-center">
          <div class="form-group-isin">
            <label class="control-label"><strong>Original</strong></label>
          </div>
        </div>
        <div class="col-sm-3 text-center">
          <div class="form-group-isin">
            <label class="control-label"><strong>New</strong></label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="cfiCodeNew"><strong>CFI Code:</strong></label>
          </div>
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="cfiCodeOrg" [(ngModel)]="cfiCodeOrg" maxlength="6" readonly>
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="cfiCodeNew" maxlength="6" readonly>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="cfiCodeNVDRNew"><strong>CFI Code NVDR:</strong></label>
          </div>
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="cfiCodeNVDROrg" [(ngModel)]="cfiCodeNVDROrg" maxlength="6" readonly>
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="cfiCodeNVDRNew" maxlength="6" readonly>
        </div>
      </div>

    </div>

  </div>
</div>
