<div class="col-sm-2">
  <div class="form-group-isin">
    <label class="control-label" for="interestRateType">Interest Rate Type:</label>
  </div>
</div>
<div class="col-sm-4">
  <div class="input-group" [formGroup]="parentFormGroup">
    <select name="interestRateType" id="interestRateType" class="form-control" 
            formControlName="interestRateType"
            [(ngModel)]="interestRateType">
      <option *ngFor="let result of results"
        [value]="result.code">
        {{result.type}}
      </option>
    </select>
  </div>
</div>