<div bsModal #confirmModal="bs-modal" id="confirmationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="btnCloseModalConfirm" class="close" (click)="confirmModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body" #modalConfirmBody>
          
        </div>
        <br/>
        <span>
          <button class="btn m-b-xs w-xs btn-isin btn-rounded font-bold" type="button" id="btnModalConfirm"
            (click)="submitConfirm()" >Confirm</button>
        </span>
        <span class="padder">
          <button class="btn m-b-xs w-xs btn-isin btn-rounded font-bold" type="button" id="btnModalCancel"
            (click)="confirmModal.hide()" >Cancel</button>
        </span>

      </div>
    </div>
  </div>
</div>