<div class="col-sm-2">
  <div class="form-group-isin">
    <label class="control-label" for="market">Market:</label>
  </div>
</div>
<div class="col-sm-4">
  <div class="input-group" [formGroup]="parentFormGroup">
    <select name="market" id="market" class="form-control" 
            formControlName="market" 
            [(ngModel)]="market"
            [disabled]="isDisabled">
      <option *ngFor="let result of results"
        [value]="result.code">
        {{result.type}}
      </option>
    </select>
  </div>
</div>