<div *ngIf="isISINInfoShow" class="wrapper-sm">
  <div class="panel panel-default">
    
    <div class="panel-heading font-bold">
        Information for ISIN Code by Securities Type
    </div>

    <div class="panel-body" [formGroup]="parentFormGroup">

      <div class="row" *ngIf="isUnitTrustTypeShow">
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="unitTrust">Unit Trust:</label>
          </div>
        </div>
        <div class="col-sm-4 form-inline">
          <div class="form-group-isin">
            <div class="radio">
              <label class="i-checks">
                <input type="radio" name="unitTrust" id="unitTrustOpen" 
                      formControlName="unitTrust"
                      [(ngModel)]="unitTrust" value="O">
                <i></i>
                Open
              </label>
            </div>
            <div class="radio padder">
              <label class="i-checks">
                <input type="radio" name="unitTrust" id="unitTrustClose" 
                      formControlName="unitTrust"
                      [(ngModel)]="unitTrust" value="C">
                <i></i>
                Close
              </label>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div *ngIf="isIssueDateShow">
          <div class="col-sm-2">
            <div class="form-group-isin">
              <label class="control-label" for="issueDate">Issue Date:</label>
            </div>
          </div>
          <div class="col-sm-4">
            <input type="date" class="form-control" id="issueDate" 
                  formControlName="issueDate"
                  [(ngModel)]="issueDate">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label *ngIf="isMaturityDateShow"
                   class="control-label" for="maturityDate">Maturity Date:</label>
            <span *ngIf="isHasForeignLimitShow">
              <label class="i-checks">
                <input type="checkbox" id="hasForeignLimit" name="hasForeignLimit"
                      formControlName="hasForeignLimit"
                      [(ngModel)]="hasForeignLimit">
                <i></i>Has Foreign Limit
              </label>
            </span>
          </div>
        </div>
        <div class="col-sm-4">
          <input *ngIf="isMaturityDateShow"
                 type="date" class="form-control" id="maturityDate" 
                 name="maturityDate" formControlName="maturityDate"
                 [(ngModel)]="maturityDate">
        </div>
      </div>

      <div class="row" *ngIf="isNativeShow&&isInterestRateTypeShow">
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="native">Native:</label>
          </div>
        </div>
        <div class="col-sm-4 form-inline">
          <div class="form-group-isin">
            <div class="radio">
              <label class="i-checks">
                <input type="radio" name="nativeCode" id="nativeLocal" 
                      formControlName="nativeCode"
                      [(ngModel)]="nativeCode" value="L">
                <i></i>
                Local
              </label>
            </div>
            <div class="radio padder">
              <label class="i-checks">
                <input type="radio" name="nativeCode" id="nativeForeign" 
                      formControlName="nativeCode"
                      [(ngModel)]="nativeCode" value="F">
                <i></i>
                Foreign
              </label>
            </div>
          </div>
        </div>
        <isin-interest-rate-type #interestRateTypeComp
            [parentFormGroup]="parentFormGroup">
        </isin-interest-rate-type>
      </div>

      <div class="row" *ngIf="isInterestRateShow&&isInterestRateFrequencyShow">
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="interestRate">Interest Rate:</label>
          </div>
        </div>
        <div class="col-sm-4">
          <input type="number" class="form-control" id="interestRate" name="interestRate"
                formControlName="interestRate"
                [(ngModel)]="interestRate">
        </div>
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="interestRateFrequency">Interest Rate Frequency:</label>
          </div>
        </div>
        <div class="col-sm-4">
          <input type="number" class="form-control" id="interestRateFrequency" name="interestRateFrequency"
                formControlName="interestRateFrequency"  
                [(ngModel)]="interestRateFreq">
        </div>
      </div>

      <div class="row" *ngIf="isUnderlyingSymbolShow">
        <isin-underlying-symbol #underlyingSymbolComp 
                [parentFormGroup]="parentFormGroup"
                [securityType]="securityType">
        </isin-underlying-symbol>
      </div>

      <div class="row" *ngIf="isDWTypeShow&&isExerciseStyleShow">
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="dwType">DW Type:</label>
          </div>
        </div>
        <div class="col-sm-4 form-inline">
          <div class="form-group-isin">
            <div class="radio">
              <label class="i-checks">
                <input type="radio" name="dwType" id="dwTypeCall" 
                        formControlName="dwType"  
                        [(ngModel)]="dwType" value="C">
                <i></i>
                Call
              </label>
            </div>
            <div class="radio padder">
              <label class="i-checks">
                <input type="radio" name="dwType" id="dwTypePut" 
                        formControlName="dwType"
                        [(ngModel)]="dwType" value="P">
                <i></i>
                Put
              </label>
            </div>
          </div>
        </div>
        <isin-exercise-style #exerciseStyleComp 
            [parentFormGroup]="parentFormGroup">
        </isin-exercise-style>
      </div>

      <div class="row" *ngIf="isExercisePriceCurrencyShow">
        <isin-exercise-price-currency #exercisePriceCurrComp
              [parentFormGroup]="parentFormGroup">
        </isin-exercise-price-currency>
      </div>

      <div class="row" *ngIf="isFutureOptionTypeShow">
        <isin-future-option-type #futureOptionTypeComp
              [parentFormGroup]="parentFormGroup">
        </isin-future-option-type>
      </div>

    </div>

  </div>
</div>