<!-- Search Criteria -->
<form [formGroup]="fg">
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      Search Criteria
    </div>
    
    <div class="panel-body">
      
      <div class="row">
        <isin-security-symbol #securitySymbolComp [parentFormGroup]="fg"></isin-security-symbol>
      </div>
      <div class="row" id="securityTypeCompRow">
        <isin-security-type #securityTypeComp [parentFormGroup]="fg"></isin-security-type>
      </div>
      <div class="row">
        <isin-company-code #companyCodeComp [parentFormGroup]="fg"></isin-company-code>
      </div>
      <div class="row">
        <isin-select-code #selectCodeComp [parentFormGroup]="fg"></isin-select-code>
      </div>
      
    </div>

  </div>
</div>
<!-- /Search Criteria-->

<!-- Button -->
<div class="wrapper-md-thin">
  <span>
    <input class="btn m-b-xs w-xs btn-isin btn-rounded font-bold" type="button" id="btnSearch" value="Search"
          (click)="searchSecurityInfo(securitySymbolComp.securityAbbr, securityTypeComp, companyCodeComp.companyCode, selectCodeComp.selectCode)">
  </span>
  <span class="padder">
    <input class="btn m-b-xs w-xs btn-isin btn-rounded font-bold" type="reset" id="btnReset" value="Reset" 
          (click)="resetSearchForm(securitySymbolComp,securityTypeComp,companyCodeComp,selectCodeComp)">
  </span>
</div>
<!-- /Button -->

<!-- Search Results -->
<div class="wrapper-md" id="tblResultInsinSearch">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      Search Results
    </div>

    <isin-search-result-table *ngIf="selectCodeComp.selectCode == 'A'" [data]='results' [columns]='columnsAll' [selectableColumns]='selectableColumns' (selected)='updateCFIISIN($event)'></isin-search-result-table>
    <isin-search-result-table *ngIf="selectCodeComp.selectCode == 'I'" [data]='results' [columns]='columnsISIN' [selectableColumns]='selectableColumns' (selected)='updateCFIISIN($event)'></isin-search-result-table>
    <isin-search-result-table *ngIf="selectCodeComp.selectCode == 'C'" [data]='results' [columns]='columnsCFI' [selectableColumns]='selectableColumns' (selected)='updateCFIISIN($event)'></isin-search-result-table>

  </div>
</div>
<!-- /Search Results -->

<isin-modal-confirm #modalConfirm></isin-modal-confirm>
<isin-modal-message #modalMessage></isin-modal-message>
</form>