
/*-------------------- override styles from bootstrap.css --------------------*/
.panel {
  margin-bottom: 0; /* force margin-bottom to 0 */
}

.table > thead > tr > th {
  vertical-align: middle;
  text-align: center;
}
/*----------------------------------------------------------------------------*/

/*----------------------- override styles from app.css -----------------------*/
body {
  color: #333333;
}

.bg-dark .nav > li > a {
  color: #ffffff;
}

.bg-dark .nav > li:hover > a {
  color: #fdaa34;
}

.bg-dark .nav > li.active > a {
  color: #fdaa34;
}

.bg-dark {
  color: #ffffff;
}

.bg-white {
  color: #333333;
}

.panel-default {
  border-color: #cccccc;
}
/*----------------------------------------------------------------------------*/

.form-group-isin {
  margin-top: 8px;
  margin-bottom: 8px;
}

.wrapper-md-thin {
  padding-left: 20px;
  padding-right: 20px;
}

.modal-body table > tbody > tr {
  cursor: pointer;
}

#company-modal table > tbody > tr > td:first-child {
  text-align: center
}

#tblResultInsinSearch table > tbody > tr > td:first-child {
  cursor: pointer;
  text-decoration: underline;
  color: #23527c;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #eeeeee;
}

.thead-bg-dark {
  background-color: #3a3f51 !important;
  color: #ffffff !important;
}

.table-striped > thead {
  background-color: #3a3f51 !important;
  color: #ffffff !important;
}

.btn-isin {
  color: #333333 !important;
  background-color: #fdaa34;
  border-color: #fdaa34 ;
}

.system-time {
  position: absolute;
  right: 10px;
}

.selectableColumns {
  color: #23527c !important;
  text-decoration: underline !important;
}
