<div class="col-sm-2">
  <div class="form-group-isin">
    <label class="control-label" for="securityType">Security Type:</label>
  </div>
</div>
<div class="col-sm-10">
  <div class="input-group" [formGroup]="parentFormGroup">
    <select id="securityType" 
            formControlName="securityType"
            [disabled]="isDisabled"
            class="form-control securityType" 
            [(ngModel)]="securityType">
      <option value=""></option>
      <option *ngFor="let result of results"
        [value]="result.code">
        {{result.code}} {{result.type}}
      </option>
    </select>
  </div>
</div>