<!-- navbar header -->
<div class="navbar-header bg-dark">
  <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
    <i class="glyphicon glyphicon-cog"></i>
  </button>
  <button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll="app">
    <i class="glyphicon glyphicon-align-justify"></i>
  </button>
  <!-- brand -->
  <a href="#/" class="navbar-brand text-lt">
    <!--<i class="fa fa-btc"></i>-->
    <!--<img src="assets/img/logo.png" alt="." class="hide">-->
    <img src="assets/img/logo.png" alt=".">
    <span class="hidden-folded m-l-xs">TSD</span>
  </a>
  <!-- / brand -->
</div>
<!-- / navbar header -->