<div class="wrapper-sm">
  <div class="panel panel-default">
    
    <div class="panel-heading font-bold">
        ISIN Code
    </div>

    <div class="panel-body">

      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 text-center">
          <div class="form-group-isin">
            <label class="control-label"><strong>Original</strong></label>
          </div>
        </div>
        <div class="col-sm-3 text-center">
          <div class="form-group-isin">
            <label class="control-label"><strong>New</strong></label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="isinCodeLocalNew"><strong>ISIN Code Local:</strong></label>
          </div>
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="isinCodeLocalOrg" [(ngModel)]="isinCodeLocalOrg" maxlength="12" readonly>
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="isinCodeLocalNew" maxlength="12" readonly>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="isinCodeForeignNew"><strong>ISIN Code Foreign:</strong></label>
          </div>
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="isinCodeForeignOrg" [(ngModel)]="isinCodeForeignOrg" maxlength="12" readonly>
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="isinCodeForeignNew" maxlength="12" readonly>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="isinCodeNVDRNew"><strong>ISIN Code NVDR:</strong></label>
          </div>
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="isinCodeNVDROrg" [(ngModel)]="isinCodeNVDROrg" maxlength="12" readonly>
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="isinCodeNVDRNew" maxlength="12" readonly>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="isinCodeTTFNew"><strong>ISIN Code TTF:</strong></label>
          </div>
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="isinCodeTTFOrg" [(ngModel)]="isinCodeTTFOrg" maxlength="12" readonly>
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="isinCodeTTFNew" maxlength="12" readonly>
        </div>
      </div>

    </div>

  </div>
</div>