<div class="app app-header-fixed ">
  <!-- header -->
  <header id="header" class="app-header navbar" role="menu">
    
    <isin-app-logo></isin-app-logo>

    <isin-top-bar></isin-top-bar>

  </header>
  <!-- / header -->

  <!-- aside -->
  <aside id="aside" class="app-aside hidden-xs bg-dark">
    <div class="aside-wrap">

      <isin-side-bar></isin-side-bar>
      
    </div>
  </aside>
  <!-- / aside -->

  <!-- content -->
  <div id="content" class="app-content" role="main">

    <isin-breadcrumbs></isin-breadcrumbs>

    <!-- content-body -->
    <div class="app-content-body ">

      <router-outlet></router-outlet>

    </div>
    <!-- /content-body -->

  </div>
  <!-- /content -->

</div>
