<div class="row">
  <div class="col-md-4">
    <div class="form-inline">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Found {{XXXXX}} records | Display:</label>
      <input #rowsPerPage id="inputRowPerPage" type="text" class="form-control" placeholder="Custom"
           [(ngModel)]="itemsPerPage"
           (keyup.enter)="onChangeTable(config,{page: 1, itemsPerPage: rowsPerPage.value})" />
    </div>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <input *ngIf="config.filtering" id="inputTableFilter" placeholder="Filter all columns"
           [ngTableFiltering]="config.filtering"
           class="form-control"
           (tableChanged)="onChangeTable(config,{page: 1, itemsPerPage: rowsPerPage.value})"/>
  </div>
</div>

<br>
<ng-table [config]="config"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          [rows]="rows" [columns]="columns">
</ng-table>
<div class="col-md-12 text-center" *ngIf="length==0">No Data Found</div>
<pagination *ngIf="config.paging"
            class="pagination-sm"
            [(ngModel)]="page"
            [totalItems]="length"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="onChangeTable(config, $event)"
            (numPages)="numPages = $event">
</pagination>
<pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>