<div class="col-sm-2">
  <div class="form-group-isin">
    <label class="control-label" for="exerciseStyle">Exercise Style:</label>
  </div>
</div>
<div class="col-sm-4">
  <div class="input-group" [formGroup]="parentFormGroup">
    <select name="exerciseStyle" id="exerciseStyle" class="form-control" 
            formControlName="exerciseStyle"
            [(ngModel)]="exerciseStyle">
      <option *ngFor="let result of results"
        [value]="result.code">
        {{result.type}}
      </option>
    </select>
  </div>
</div>