<div class="col-sm-2">
  <div class="form-group-isin">
    <label  class="control-label" for="securityAbbr">Security Symbol:</label>
  </div>
</div>
<div class="col-sm-10">
  <div class="col-md-3">
    <div class="input-group" [formGroup]="parentFormGroup">
      <input type="text" 
             id="securityAbbr" 
             class="form-control" 
             formControlName="securitySymbol"
             [(ngModel)]="securityAbbr"
             (blur)="lookupSecurityByAbbrOnBlur()">
      <span class="input-group-btn">
        <button class="btn m-b-xs w-xxs btn-isin" type="button" (click)="clearSearchResultData(); securitySymbolModal.show();" id="btnSecuritySymbolLookup">
          <i class="icon-magnifier"></i></button>
      </span>

    </div>
  </div>
  <div class="col-md-7">
    <input id="securityAbbrDesc" class="form-control" type="text" 
      disabled [(ngModel)]="securityAbbrDesc">
  </div>
</div>

<div bsModal #securitySymbolModal="bs-modal" class="modal fade" id="security-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="securitySymbolModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Security Symbol Help Search</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <isin-security-type #securityTypeComp></isin-security-type>
        </div>

        <span>
          <button class="btn m-b-xs w-xs btn-isin btn-rounded font-bold" type="button" id="btnSecuritySymbolSearch"
            (click)="lookupSecurityByModal(securityTypeComp.securityType)" >Search</button>
        </span>

        <isin-search-result-table 
          [data]='results' 
          [columns]='columns' 
          (selected)='handleEvent($event); securitySymbolModal.hide();'
        >
        </isin-search-result-table>

      </div>
    </div>
  </div>
</div>