<!-- link and dropdown -->
<ul class="nav navbar-nav hidden-sm">
  <li class="dropdown pos-stc">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
      <span>Depository</span>
      <span class="caret"></span>
    </a>
    <div class="dropdown-menu wrapper w-full bg-white">
      <div class="row">
        <div class="col-sm-4">
          <div class="m-l-xs m-t-xs m-b-xs font-bold">Menu</div>
          <div class="row">
            <div class="col-xs-8">
              <ul class="list-unstyled l-h-2x">
                <li>
                  <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>ISIN/CFI Code</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
<!-- / link and dropdown -->