<form [formGroup]="fg">
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      Input Security Information
    </div>

    <div class="panel-body">
      <input type="hidden" [(ngModel)]="securityId" formControlName="securityId">

      <div class="row">
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="securitySymbol">Security Symbol:</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input-group">
            <input type="text" 
                   class="form-control" 
                   id="securitySymbol" 
                   formControlName="securitySymbol"
                   [(ngModel)]="securityAbbr"
                   maxlength="32" readonly>
          </div>
        </div>
        <isin-market #marketComp [parentFormGroup]="fg"></isin-market>
      </div>

      <div class="row">
        <isin-security-type #securityTypeComp 
          [parentFormGroup]="fg"
          [securityType]="securityType" 
          (change)="onSecurityTypeChange(securityTypeComp.securityType)"
          (ready)="onInitWhenSecurityTypeReady()">
        </isin-security-type>
      </div>
      
      <div class="row">
        <isin-company-code #companyCodeComp 
          [parentFormGroup]="fg"
          [companyCode]="companyCode">
        </isin-company-code>
      </div>

      <div class="row" *ngIf="selectCode=='A' || selectCode=='I'">        
        <isin-unique-code-type #uniqueCodeComp [parentFormGroup]="fg"></isin-unique-code-type>
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="uniqueCode">Unique Code:</label>
          </div>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="uniqueCode" name="uniqueCode" 
                 formControlName="uniqueCode"
                 [(ngModel)]="uniqueCode" 
                 maxlength="32">
        </div>
      </div>

      <div class="row" *ngIf="selectCode=='A' || selectCode=='I'">        
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="issuerNameThai">Issuer Name Thai:</label>
          </div>
        </div>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="issuerNameThai" name="issuerNameThai" 
                 formControlName="issuerNameThai"
                 [(ngModel)]="issuerNameThai"
                 maxlength="150">
        </div>
      </div>

      <div class="row" *ngIf="selectCode=='A' || selectCode=='I'">        
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="issuerNameEnglish">Issuer Name English:</label>
          </div>
        </div>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="issuerNameEnglish" name="issuerNameEnglish" 
                 formControlName="issuerNameEnglish"
                 [(ngModel)]="issuerNameEnglish" 
                 maxlength="150">
        </div>
      </div>

      <div class="row" *ngIf="selectCode=='A' || selectCode=='I'">        
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="securityNameThai">Security Name Thai:</label>
          </div>
        </div>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="securityNameThai" name="securityNameThai" 
                 formControlName="securityNameThai"
                 [(ngModel)]="securityNameThai" 
                 maxlength="150">
        </div>
      </div>

      <div class="row" *ngIf="selectCode=='A' || selectCode=='I'">        
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="securityNameEnglish">Security Name English:</label>
          </div>
        </div>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="securityNameEnglish" name="securityNameEnglish" 
                 formControlName="securityNameEnglish"
                 [(ngModel)]="securityNameEnglish" 
                 maxlength="150">
        </div>
      </div>

      <div class="row" *ngIf="selectCode=='A' || selectCode=='I'">        
        <div class="col-sm-2">
          <div class="form-group-isin">
            <label class="control-label" for="parValue">Par Value:</label>
          </div>
        </div>
        <div class="col-sm-4">
          <input type="number" class="form-control" id="parValue" name="parValue" 
                 formControlName="parValue"
                 [(ngModel)]="parValue">
        </div>
        <isin-currency-code #currencyCodeComp [parentFormGroup]="fg"></isin-currency-code>
      </div>

      <isin-info-isin-code #infoIsinCode *ngIf="selectCode=='A' || selectCode=='I'" 
              [parentFormGroup]="fg"
              [securityType]="securityTypeComp.securityType" >
      </isin-info-isin-code>

      <isin-new-cfi-info #newCfiInfo *ngIf="selectCode=='A' || selectCode=='C'" 
              [parentFormGroup]="fg"
              [securityType]="securityTypeComp.securityType">
      </isin-new-cfi-info>

      <isin-isin-code #isinCodeComp *ngIf="selectCode=='A' || selectCode=='I'"></isin-isin-code>

      <isin-cfi-code #cficodeComp *ngIf="selectCode=='A' || selectCode=='C'"></isin-cfi-code>

    </div>

  </div>

</div>

<!-- Button -->
<div class="wrapper-md-thin">
  <span>
    <input class="btn m-b-xs w-xs btn-isin btn-rounded font-bold" type="button" id="btnSubmit" value="Submit" (click)="submit(fg)">
  </span>
  <span class="padder">
    <input class="btn m-b-xs w-xs btn-isin btn-rounded font-bold" type="button" id="btnReset" value="Reset" (click)="reset()">
  </span>
  <span>
    <input class="btn m-b-xs w-xs btn-isin btn-rounded font-bold" type="button" id="btnBack" value="Back" (click)="backToInquriryEntryUpdate()">
  </span>
</div>
<!-- /Button -->
</form>