<!-- nabar right -->
<ul class="nav navbar-nav navbar-right">
  
  <li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle clear" data-toggle="dropdown">
      <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
        <img src="assets/img/b14.jpg" alt="...">
        <i class="on md b-white bottom"></i>
      </span>
      <span class="hidden-sm hidden-md">Twin.Panichsombat</span> <b class="caret"></b>
    </a>
    <!-- dropdown -->
    <ul class="dropdown-menu animated fadeInRight w">
      <li class="wrapper b-b m-b-sm bg-light m-t-n-xs">
        <div>
          <label class="btn btn-default ng-untouched ng-valid ng-dirty" ng-model="radioModel" btn-radio="'Left'" uncheckable="" aria-invalid="false">English</label>
          <label class="btn btn-default ng-untouched ng-valid ng-dirty" ng-model="radioModel" btn-radio="'Right'" uncheckable="" aria-invalid="false">ไทย</label>
        </div>
      </li>
      <li>
        <a href>
          <span>Settings</span>
        </a>
      </li>
      <li>
        <a ui-sref="app.page.profile">Profile</a>
      </li>
      <li class="divider"></li>
      <li>
        <a ui-sref="access.signin"><i class="icon-logout"></i> Logout</a>
      </li>
    </ul>
    <!-- / dropdown -->
  </li>
</ul>
<!-- / navbar right -->