<div class="col-sm-2">
  <div class="form-group-isin">
    <label  class="control-label" for="underlyingSymbol">Underlying Symbol:</label>
  </div>
</div>
<div class="col-sm-10">
  <div class="col-md-3">
    <div class="input-group" [formGroup]="parentFormGroup">
      <input type="text" id="underlyingSymbol" class="form-control"
              formControlName="underlyingSymbol"
              [(ngModel)]="underlyingSymbol"
              (blur)="lookupUnderlyingSymbolOnBlur()">
      <span class="input-group-btn">
        <button class="btn m-b-xs w-xxs btn-isin" type="button" (click)="clearSearchResultData(); underlyingSymbolModal.show();"><i class="icon-magnifier"></i></button>
      </span>

    </div>
  </div>
  <div class="col-md-9">
    <input id="underlyingSymbolDesc" class="form-control" type="text" 
      disabled [(ngModel)]="underlyingSymbolDesc">
  </div>
</div>

<div bsModal #underlyingSymbolModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="underlyingSymbolModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Underlying Symbol Help Search</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-2">
              <div class="form-group-isin">
                <label class="control-label" for="securityType">Underlying Code:</label>
              </div>
            </div>
            <div class="col-sm-4">
              <input type="text" id="underlyingCode" class="form-control" [(ngModel)]="underlyingCode" (keyup.enter)="lookupUnderlyingByModal()" >            
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <div class="form-group-isin">
                <label class="control-label" for="securityType">Underlying Name:</label>
              </div>
            </div>
            <div class="col-sm-10">
              <input type="text" id="underlyingName" class="form-control" [(ngModel)]="underlyingName" (keyup.enter)="lookupUnderlyingByModal()" >            
            </div>
          </div>
          <div class="row">
            <span>
              <button class="btn m-b-xs w-xs btn-isin btn-rounded font-bold" type="button" id="btnSearch"
                (click)="lookupUnderlyingByModal()" >Search</button>
            </span>
          </div>
        </div>

        

        <isin-search-result-table 
          [data]='results' 
          [columns]='columns' 
          (selected)='handleEvent($event); underlyingSymbolModal.hide();'
        >
        </isin-search-result-table>

      </div>
    </div>
  </div>
</div>