<!-- currency code component -->
<div class="col-sm-2">
  <div class="form-group-isin">
    <label class="control-label" for="currencyCode">Currency Code:</label>
  </div>
</div>
<div class="col-sm-4">
  <div class="input-group" [formGroup]="parentFormGroup">
    <select name="currencyCode" id="currencyCode" class="form-control" 
            formControlName="currencyCode"
            [(ngModel)]="currencyCode">
      <option *ngFor="let result of results"
        [value]="result.code">
        {{result.code}} {{result.type}}
      </option>
    </select>
  </div>
</div>