<div class="col-sm-2">
  <div class="form-group-isin">
    <label class="control-label" for="exercisePriceCurrency">Exercise Price Currency:</label>
  </div>
</div>
<div class="col-sm-4">
  <div class="input-group" [formGroup]="parentFormGroup">
    <select name="exercisePriceCurrency" id="exercisePriceCurrency" class="form-control" 
            formControlName="exercisePriceCurrency"
            [(ngModel)]="exercisePriceCurrency">
      <option *ngFor="let result of results"
        [value]="result.code">
        {{result.code}} {{result.type}}
      </option>
    </select>
  </div>
</div>