<!-- nav -->
<nav ui-nav class="navi clearfix">
  <ul class="nav">
    <li class="">
      <a href="" class="auto">
        <span class="pull-right text-muted">
          <i class="fa fa-fw fa-angle-right text"></i>
          <i class="fa fa-fw fa-angle-down text-active"></i>
        </span>

        <i class="glyphicon glyphicon-th"></i>
        <span>ISIN/CFI Code</span>
      </a>
      <ul class="nav nav-sub dk" style="display: none;">
        <li class="nav-sub-header">
          <span class="font-bold">ISIN/CFI Code</span>
        </li>
        <li>
          <a routerLink="/inquiryEntryUpdate">
            <span>Entry/Update</span>
          </a>
        </li>
        <li>
          <a routerLink="/inquiry">
            <span>Inquiry</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Maintain Underlying Group</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Maintain Underlying Securities</span>
          </a>
        </li>
        <li>
          <a routerLink="/test">
            <span>Test</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<!-- nav -->