<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
  <!-- toggle buttons -->
  <div class="nav navbar-nav hidden-xs">
    <a href="#" class="btn no-shadow navbar-btn" ui-toggle-class="app-aside-folded" target=".app">
      <i class="fa fa-dedent fa-fw text"></i>
      <i class="fa fa-indent fa-fw text-active"></i>
    </a>
  </div>
  <!-- / toggle buttons -->

  <isin-system-menu></isin-system-menu>

  <isin-user-panel></isin-user-panel>
  
</div>
<!-- / navbar collapse -->